body{
    margin: 0 ;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* all stylles under header started */
header{
    width: 90%;
}
header h2{
    
    margin: 30px 68px;
    font-size: 24px;
}
/* all styles under heeader end */
/* ------------------------------------------- */
/* all styles under section 1 start */

.sec-1{
    display: flex;
    justify-content: center;
}
.top-main{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 100px;
     
}
.top-left h1{
    font-size: 46px;
    font-weight: bold;
}
.top-left p{
    font-size: 18px;
    text-align: justify;
    padding-bottom: 5px;

}
.top-left a{
    background-color: #E02C6D;
    padding: 10px 20px;
    
    border-radius: 25px 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.top-left a i{
    margin-top: 2px;
}
.top-left a:hover{
    background-color: white;
    border: 1px #E02C6D solid;
    color: #E02C6D;
}
.top-right, .top-left{
    width: 46%;
    margin: 0 2%;

}


.top-right img{
    width: 80%;
    height: 350px;
    margin-left: 20%;
    
}
/* all styles under secton 1 ended */
/* ----------------------------------------- */
/* h2 betweebn the first and second section styes */
.text-b2in-sec{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
/* h2 between the top two section end */
/* ----------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* sec 2 style start */
.sec-2{
    display: flex;
    justify-content: center;
    
}
.sec-2 .articles{
            width: 60%;
            margin-bottom: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px 15px;
}
.sec-2 .articles article{
    width: 200px;
    height: 400px;
    background-color: whitesmoke;
    border: #E02C6D 1px solid;
    border-radius: 2px;
    box-shadow: thistle  3px 3px;
}
article .img-in-article{
    width: 92%;
    height: 50%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
}
.div-in-article{
    margin-left: 10px;
    
}
.p-in-article{
    margin-left: 10px;
    padding: 10px 0;
}
.span-text-1{
    font-size: 24px;
    font-weight: bold;
}
.span-text-2{
    font-size: 20px;
}
.span-text-smallest{
    font-size: 12px;
}
.rating i{
    font-size: 12px;
    color: gold;
}
.rating span{
    font-size: 12px;
}
.button-mid{
    margin-top: 10px;
    margin-bottom: 20px;
    
    margin-right: 18%;
    
    display: flex;
    justify-content: end;
}
.button-mid a{
    text-decoration: none;
    font-size: 20px;
    color: #E02C6D;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 900;
    
}
.button-mid i{
    margin-left: 5px;
    font-size: 18px;
}
/* section 2 style end */
/* ---------------------------------------------- */
/* section 3 style start */
.sec-3{
    display: flex;
    justify-content: center;
}
.div-in-sec-3{
    width: 400px;
    margin-bottom: 50px;
    padding: 10px 0;
}
.div-in-sec-3 h2{
    text-align: center;
    font-size: 30px;
    color: #E02C6D;
}
.div-in-sec-3 p{
    text-align: justify;
    text-align: center;
    
}
.div-in-sec-3 a{
    
    text-decoration: none;
    text-align: center;
    color: white;
    background-color:#E02C6D;
    padding: 8px 12px;
    margin-left: 140px;
    border-radius: 2px;
    
    
}
/* section 3 style end */
/* ------------------------------------- */
/* footer style start */
footer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0826;
    

}
.foot-div{
    
    width: 80%;
    height: 80%;
    padding: 0;
}
.foot-div h2, h3{
    color: whitesmoke;
    text-align: center;
}

.foot-div h2{
    font-size: 20px;
    font-weight: bold;
}
.foot-div h3{
    font-size: 12px;
}
.foot-div p{
    
    width: 20%;
    padding: 1px;
    color: whitesmoke;
    
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    

}
.foot-div p a{
    text-decoration: none;
    color: whitesmoke;
    padding: 3px;
    margin-bottom: 3px;
}
/* footer style end */
/* ---------------------------------------------------------
media query for mobile devices 
------------------------------*/
@media only screen and (max-width: 576px){
    
    header h2{
        text-align: center;
    }
    .top-main{
        display: block;
        padding: 10px;
    }
    .top-left{
        width: 80%;
    }
    .top-right{
        width: 80%;
    }
    .text-b2in-sec{
        text-align: center;
    }
    .sec-2 .articles{
        display: block;
    }
    .sec-2 .articles article{
        margin: 5px 0;
    }
    .div-in-sec-3 h2{
        text-align: left;
    }
    .div-in-sec-3 p{
        text-align: start;
    }
    .div-in-sec-3 a{
        margin-left: 0;
    }
    .foot-div p{
        width: 100%;
        text-align: center;
        margin: 0;
    }

}
/* ----media for mobile diveces end */
/* ------------------------------------------------------------------ */
/* media for tablet start */
@media only screen and (min-width: 577px) and (max-width: 768px){

    header h2{
        text-align: center;
    }
    .top-main{
        display: block;
        padding: 10px;
    }
    .text-b2in-sec{
        text-align: center;
    }
    .sec-2 .articles{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    

}
/* media for tablet end */